<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="info" class="com.company.pojo.Info"/>

    <bean id="user" class="com.company.pojo.User">
        <constructor-arg index="0" value="user"/>
        <constructor-arg index="1" value="20"/>
        <constructor-arg index="2" value="male"/>
    </bean>

    <bean id="user2" class="com.company.pojo.User" >
        <constructor-arg index="0" value="user2"/>
        <constructor-arg index="1" value="24"/>
        <constructor-arg index="2" value="female"/>
    </bean>

</beans>